<div class="about">
  <div class="about__wrapper">
    <section class="about__gallery">
      <div class="about__gallery__wrapper">
        <% about.data.gallery.forEach(el => { %>
          <figure class="about__gallery__media">
            <img data-src="<%= el.image.url %>" alt="<%= el.image.alt %>">
          </figure>
        <% }) %>
      </div>
    </section>
    <% about.data.body.forEach(section => { %>
     <% if (section.slice_type == 'title') { %>
      <h2 class="about__title" data-animation="title-translate"><%- section.primary.title.replace(/\n/g, '<br>') %> </h2>
     <% } else if (section.slice_type == 'content') {%>
      <section class="about__content <%= section.primary.type === 'Left' ? 'about__content--left' : 'about__content--right' %>">
        <div class="about__content__wrapper">
          <div class="about__content__box" data-animation="<%= section.primary.type === 'Left' ? 'text--left' : 'text--right' %>">
            <p class="about__content__label"><%- section.primary.label %></p>
            <div class="about__content__description"><%- ctx.PrismicH.asHTML(section.primary.description) %></div>
          </div>
          <figure class="about__content__media" data-animation="<%= section.primary.type === 'Left' ? 'text--right' : 'text--left' %>">
            <img data-src="<%= section.primary.image.url %>" alt="<%= section.primary.image.alt %>">
          </figure>
        </div>
      </section>
      <% } else if (section.slice_type == 'highligh') { %>
      <section class="about__highlight">
        <div class="about__highlight__wrapper">
          <% if(section.primary.label) {%>
            <p class="about__highlight__label"><%= section.primary.label %></p>
          <% } %>
          <h3 class="about__highlight__title" data-animation="title"><%= section.primary.title %></h3>

          <div class="about__highlight__medias">
            <% section.items.forEach(image => { %>
              <figure class="about__highlight__media">
                <img data-src="<%= image.image.url %>" alt="<% image.image.alt %>">
              </figure>
            <% }) %>
          </div>
        </div>
      </section>
    <% } else if (section.slice_type == 'gallery') {%>
      <section class="about__gallery">
        <div class="about__gallery__wrapper">
          <% section.items.forEach(media => { %>
            <figure class="about__gallery__media">
              <img data-src="<%= media.image.url %>" alt="<%= media.image.url %>">
            </figure>
          <% })%>
        </div>
      </section>
    <% } %>
    <% }) %>
  </div>
</div>
