<div class="collections" data-background="#BC978C" data-color="#F9F1E7">
  <div class="collections__wrapper">

    <div class="collections__titles">
      <% for(let collection of collections){ %>
        <div class="collections__titles__title"><%= collection.data.title %></div>
        <div class="collections__titles__label"><%= collection.data.label %></div>
      <% } %>
    </div>

    <div class="collections__gallery">
      <div class="collections__gallery__wrapper">
        <% collections.forEach(collection => { %>
          <% collection.data.products.forEach(product => { %>
            <a href="<%= ctx.linkHandler(product.products_product) %>" class="collection__gallery__link">
              <figure class="collections__gallery__media">
                <img data-src="<%= product.products_product.data.product_image.url %>" alt="<%= product.products_product.data.product_image.alt %>">
              </figure>
            </a>
          <% }) %>
        <% }) %>
      </div>
    </div>
    <div class="collections__content">
      <% for(const [index, collection] of collections.entries()) { %>
       <article class="collections__article <%= index === 0 ? 'collections__article-active' : '' %>">
         <h2 class="collections__article__title"><%= collection.data.title %></h2>
         <p class="collections__article__description"><%= collection.data.description %></p>
       </article>
      <% } %>
    </div>

    <div class="collections__mobile">
      <% for(let collection of collections){ %>
        <div class="collections__mobile__item">
          <div class="collections__mobile__item__label"><%- collection.data.label.replace(' ', '<br>') %></div>
          <div class="collections__mobile__item__title"><%= collection.data.title %></div>
        </div>
      <% } %>
    </div>
  </div>
</div>
