<div class="detail" data-background="#B2B8C3" data-color="#F9F1E7">
  <div class="detail__wrapper">
    <figure class="detail__media">
      <img data-src="<%= detail.data.product_image.url %>" alt="<%= detail.data.product_image.alt %>">
    </figure>
    <div class="detail__information">
      <h3 class="detail__information__collection"><%= collection.data.title %></h3>
      <h2 class="detail__information__title"><%= detail.data.product_name %></h2>

      <div class="detail__information__content">
        <div class="detail__information__highlights">
          <% detail.data.highlights.forEach(highlight => { %>
            <p class="detail__information__highlight">
              <span class="detail__information__highlight__icon" style="background-image: url('assets/sprite-<%= highlight.highlights_icon.toLowerCase() %>.svg')"></span>
              <span class="detail__information__highlight__text"><%= highlight.highlights_text %></span>
            </p>
          <% }) %>
        </div>

        <div class="detail__information__list">
          <% detail.data.informations.forEach(item => { %>
           <p class="detail__information__item">
             <strong class="detail__information__item__title"><%= item.informations_label %></strong>
             <span class="detail__information__item__description"><%- item.informations_description.replace(/\n/, '<br>') %></span>
           </p>
          <% }) %>
        </div>
        <a href="<%= detail.data.link_url.url %>" class="detail__information__link" target="_blank">
          <%= detail.data.link_text %>
        </a>
      </div>
    </div>
    <button class="detail__button">
      <svg class="detail__button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="1145.03 971.578 122.991 59">
        <path d="M0 29.5a62 30 0 1 1 0 1" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none" transform="matrix(.99194 0 0 .98333 1145.03 971.578)" data-name="Ellisse 2"/>
      </svg>
      Close
    </button>
  </div>
</div>
