<div class="home" data-background="#C97164" data-color="#F9F1E7">
  <div class="home__wrapper">
    <div class="home__titles">
      <% for (const vertical of  home.data.vertical_titles) { %>
        <div class="home__titles__title"><%= vertical.collection_title %></div>
        <div class="home__titles__label"><%= vertical.collection_label %></div>
      <% } %>
    </div>

    <div class="home__gallery">
      <% home.data.gallery.forEach(media => { %>
       <figure class="home__gallery__media">
         <img data-src="<%= media.image.url %>" alt="<%= media.image.alt %>">
       </figure>
      <% }) %>
    </div>
    <a class="home__link" href="<%= ctx.linkHandler(home.data.collections) %>">
      <svg class="home__link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="1063.03 971.578 286.98 59"><path d="M0 29.5a144 30 0 1 1 0 1" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none" transform="matrix(.99653 0 0 .98333 1063.03 971.578)" data-name="Ellipse 2"/></svg>
      <%= home.data.button %>
    </a>
  </div>
</div>
